services:
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mongodb:
    image: mongo:8.2
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  publisher:
    build: ./publisher
    container_name: publisher
    restart: "no"
    volumes:
    - ./publisher:/app
    - ./articles.json:/app/articles.json
    depends_on:
      - redis
      - mongodb
    env_file:
      - .env

  consumer:
    build: ./consumer
    container_name: consumer
    restart: unless-stopped
    volumes:
    - ./consumer:/app
    depends_on:
      - redis
      - mongodb
    env_file:
      - .env

volumes:
  mongo_data:
  redis_data:
